@{
    ViewBag.Title = "Descipción";
}

<div class="jumbotron">
    <h1 class="text-center">CRUD ASP.NET</h1>
    <p class="lead text-center">El presente proyecto fue desarollado de manera autonoma utilizando Visual Studio 2017 como editor de codigo, ASP.NET Framewor como plataforma de desarrollo web junto con sus plantillas MVC, EntityFramework como ORM y una base de datos SQL Server local. </p>
    <p class="text-center"><a href="https://linkedin.com/in/carlos-alejandro-freitas-teixeira-82921a249" class="btn btn-primary btn-lg">Linkedin &raquo;</a></p>
</div>

<div class="row text-center">

    <div class="col-md-4">
        <h2>ASP.NET</h2>
        <img src="https://www.programandoamedianoche.com/wp-content/uploads/2008/09/asp.net_.logo_.png" alt=".net" style="width:250px;height:200px;">
    </div>

    <div class="col-md-4">
        <h2>SQL Server</h2>
        <img src="https://www.svgrepo.com/show/303229/microsoft-sql-server-logo.svg" alt="server" style="width:250px;height:180px;">
    </div>

    <div class="col-md-4">
        <h2>Visual Studio</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Visual_Studio_2017_Logo.svg/1024px-Visual_Studio_2017_Logo.svg.png" alt="server" style="width:200px;height:180px;">
    </div>
</div>